body {
    background-color: khaki;
}

.footer {
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #333333;
    text-align: center;
    color: #ffffff;
}

.row {
    padding: 5%;
}

img {
    padding: 5%;
    width: 200px;
}